<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
</head>
<body>
<h1>Inventario</h1>
<p>Opciones del inventario</p>
<ul>
    <li><a href="ingreso/1/">Ingreso de producto</a></li>
    <li><a href="edicion/1/">Edición de producto</a></li>
    <li><a href="ingreso/2/">Ingreso de Bodega</a></li>
    <li><a href="edicion/2/">Edición de Bodega</a></li>
    <li><a href="#">Ingreso de stock en una Bodega en particular</a></li>
    <li><a href="#">Listado de productos</a></li>
</ul>
</body>
</html>