<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edicion {{name}}</title>
</head>
<body>
<h1>Edicion {{name}}</h1>
{% if lista %}
<table>
    <tr>
        <th>Nombre</th>
        <th></th>
        <th></th>
    </tr>
    {% for item in lista %}
    <tr>
        <th>{{item.nombre_producto}}</th>
        <th><a href="{% url 'edicion_item' tipo=tipo pk=item.pk %}">Editar</a></th>
        <th><a href="{% url 'eliminar_item' tipo=tipo pk=item.pk %}">Eliminar</a></th>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Sin productos</p>
{% endif %}
</body>
</html>